.jumbotron {
    background-color: #007bff;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: #9fcaf8;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #000;
}

.card-hotel {
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    flex: 1 150px;
}

.btn-reservation {
    width: 100%;
}

